:root {
  --fs-700: clamp(2rem, 2vw + 1rem, 3rem);
  --fs-500: clamp(1rem, 2vw + 1rem, 2.6rem);
  --fs-300: clamp(1.3rem, 2vw + 1rem, 1.5rem);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
}

main {
  max-width: 970px;
  display: flex;
  border-radius: 1.2rem;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
  z-index: 1000;
}

main img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  object-fit: cover;
}

.image-container {
  max-height: 15%;
  background-color: hsla(276, 100%, 50%, 0.795);
}

.purple-effect {
  position: absolute;
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  padding: 50px;
  gap: 15px;
  background-color: hsl(244, 38%, 16%);
}

h1 {
  font-size: var(--fs-700);
  color: hsl(0, 0%, 100%);
}

.desc {
  font-size: var(--fs-300);
  width: 100%;
  margin-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.6);
}

h2 {
  font-size: var(--fs-500);
  color: hsl(0, 0%, 100%);
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  width: 90%;
}

@media (max-width: 768px) {
  main {
    max-width: min(400px, 85%);
    flex-direction: column;
  }
  main img {
    width: 100%;
  }
  section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
  }
  .numbers {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .desc {
    margin-bottom: 1rem;
  }
}
